

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .col-center{
     margin:0 auto;
   }

   .jumbotron{
height: 25vh;

   }

#h1 {

height: 8vh;
}
#h1 span{
text-align: center;
color: red;
}

.body {
font-family: 'Hind', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body button{

  width: 108px;
  margin: 5px;
}

.words{
margin-right: 0.3%;
margin-bottom:  0.3%;

}

textarea { font-size: 2vh; }
.wordButton{
  font-size: 2vh;
}
